* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  max-width: 700px;
  margin: auto;
}


/* small view navigation */
#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
  color: #000;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❎";
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: white;
  color: #fff;
  position: absolute;
  top: 3rem;
  right: 1rem;
  z-index: 999;
}


.navigation a {
  display: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.navigation a:hover {
  background-color: #bbb;
  color: #333;
  font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
  display: block;
}

.stuff {
  margin: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #bed;
  max-width: 580px;
  height: 100vh;
}

/* large view navigation ************************************/
@media (min-width: 37.5em) {
  h1 {
    font-size: 2.5rem;
    margin-left: 0;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  #menu {
    display: none;
    /* hide hamburger button */
  }

  .navigation {
    flex-direction: row;
  }

  .navigation a {
    display: block;
    flex: 1 1 100%;
    color: black;
  }

  .stuff {
    margin: 1rem auto;
  }
}





header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.logo {
  width: 240px;
}

.navigation a {
  color: black;
}

.container {
  position: relative;
}

.hero {
  width: 100%;
  height: auto;
}

/* .herolabel {
  position: absolute;
  top: 30px;
  left: 70px;
  background: rgba(92, 92, 92, 0.5);
  border: 1px solid rgba(0, 0, 0, .75);
  padding: 1rem;
  box-shadow: 0 0 3rem #fff;
  opacity: 0.75;
} */

.herolabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: grey;
  border: 1px solid rgba(0, 0, 0, .75);
  padding: 1rem;
  box-shadow: 0 0 3rem #fff;
  opacity: 0.75;
  width: 70%;
  align-items: center;
  align-content: center;
  text-align: center;
  border-radius: 5px;
  max-width: 350px;
}

.herolabel p {
  margin: 0;
  padding: .25rem;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Great Vibes", serif;
}

.maroon {
  color: yellow;
}

.white {
  color: white;
}

.herolabel button {
  background-color: rgb(14, 230, 25);
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  /* transition: background-color 0.3s ease; */
  margin-top: 5px;
}

.herolabel button:hover {
  background-color: #bbcf06;

}

.hide-image {
  display: none;
}

main {
  align-items: center;
}

.choose-ride {
  text-align: center;
}

.choose {
  margin-top: 30px;
  margin-bottom: 30px;
}

.scooter-div,
.atv-div,
.jeep-div {
  height: 480px;
}

.scooter-div {
  background: linear-gradient(to bottom, #999999, #cccccc);
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.honda-scooter {
  width: 400px;
}

.scooter-list {
  margin-top: 20px;
}

.honda-atv {
  width: 400px;
}

.atv-div {
  background: linear-gradient(to bottom, #356286, #186fc7);
  text-align: center;
  padding: 20px;
  color: white;
}

.honda-atv {
  margin-top: 10px;
}

.atv-text {
  margin-top: 10px;
}

.jeep-div {
  background: linear-gradient(to bottom, #000000, #333333);
  text-align: center;
  padding: 20px;
  color: white;
}

.jeep-wrangler {
  margin-top: 20px;
  width: 450px;
}

.jeep-text {
  margin-top: 20px;
}

.locations {
  margin: 20px 20px;
  background-color: rgb(206, 220, 241);
  text-align: center;
  padding-bottom: 20px;
}

.locations h2 {
  padding-top: 20px;
  margin: 20px auto;
}

.el-centro,
.puerta-maya {
  background-color: white;
  margin: 10px 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.locations h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.el-centro-img,
.puerta-maya-img {
  width: 400px;
  margin-bottom: 10px;
}

.location-number {
  margin-bottom: 10px;
}

.bold-line {
  font-weight: bold;
}


.weather-information {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #bbb9b9;
  /* border-radius: 10px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  align-content: center;
  text-align: center;
  height: 200px;
}

.weather-information h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.weather-info {
  margin-top: 20px;
}

.weather-info p {
  margin-bottom: 10px;
  font-size: 18px;
}

.weather-info img {
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

footer {
  align-items: center;
  text-align: center;
  align-content: center;
  background-color: #ece4e4;
}

footer img {
  width: 200px;
  margin-top: 10px;
}

.fb-logos {
  width: 50px;
  margin-top: 20px;
}



.closeable-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffcc00;
  color: #333;
  padding: 10px;
  z-index: 1000;
}

.close-btn {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  float: right;
}






/* TABLE */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  max-width: 800px;
  margin: 20px auto;
}

thead {
  background-color: #f0f0f0;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

caption {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.rentals-h1 {
  margin-top: 100px;
  text-align: center;
}




/* FORM */

.reservation-info {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
  margin: 20px 20px;
  padding: 10px 10px;
  max-width: 40rem;
}

.reservation-info ul {
  padding-left: 30px;
}

.reservation-form {
  margin: 2rem auto;
  border: 1px solid #445ba9;
  border-radius: 10px;
  padding: 20px 2%;
  max-width: 40rem;
}

.reservation-form h2 {
  color: #445ba9;
  margin: 0 1rem;
  padding: 0 .5rem;
}

.reservation-form label,
.reservation-form textarea,
.reservation-form select,
.reservation-form input {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: .8rem;
}

.reservation-form input[type="text"],
.reservation-form input[type="email"],
.reservation-form input[type="tel"],
.reservation-form input[type="number"],
.reservation-form select,
.reservation-form textarea {
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.reservation-form textarea {
  min-height: 100px;
}

.reservation-form button[type="submit"] {
  border: none;
  background-color: #445ba9;
  color: white;
  border-radius: 5px;
  padding: 12px 24px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.reservation-form button[type="submit"]:hover {
  background-color: #344185;
}


.reservation-form input:required {
  border-left: red solid 6px;
}


.reservation-form input:required:valid {
  border-left: green solid 6px;
}




/* CONTACT FORM */


.contact-info {
  margin-left: 20px;
  line-height: 1.5;
}

.contact-info h1 {
  font-size: 50px;
}

.contact-info p {
  font-size: 20px;
}

.contact-info .info p span.phone-number {
  color: #445ba9;
}


.contact-form {
  margin: 2rem auto;
  border: 1px solid #445ba9;
  border-radius: 10px;
  padding: 20px 2%;
  max-width: 40rem;
}

.contact-form h2 {
  color: #445ba9;
  margin: 0 1rem;
  padding: 0 .5rem;
}

.contact-form label,
.contact-form textarea,
.contact-form input {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: .8rem;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.contact-form textarea {
  min-height: 100px;
}

.contact-form button[type="submit"] {
  border: none;
  background-color: #445ba9;
  color: white;
  border-radius: 5px;
  padding: 12px 24px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.contact-form button[type="submit"]:hover {
  background-color: #344185;
}

.contact-form input:required {
  border-left: red solid 6px;
}

.contact-form input:required:valid {
  border-left: green solid 6px;
}

.map h2 {
  text-align: center;
  margin: 30px auto 10px;
  font-size: 40px;
}

.map-container {
  background-color: rgb(215, 223, 247);
  padding: 20px 10px;
}

.map-container h3 {
  text-align: center;
}

.playa {
  margin-top: 20px;
}