* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	text-align: left;
	font-family: times, serif;
	font-size: 1.5rem;
	margin-left: 1rem;
}

h2 {
	font-size: 1.2rem;
	color: navy;
	text-align: left;
	margin: 1rem;
}

nav {
	max-width: 700px;
	margin: auto;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.stuff {
	margin: 0.5rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
}

/* large view navigation ************************************/
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none;
		/* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

	.stuff {
		margin: 1rem auto;
	}
}





header {
	background-color: #bed;
	padding-top: 20px;
}

#hero-image {
	width: 100%;
	height: auto;
}

img {
	width: 100%;
	height: auto;
}

.container {
	position: relative;
}

.btn {
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 10px;
	background: #13bd1b;
	padding: 5px 10px 5px 10px;
	border: solid #668c1f 2px;
	text-decoration: none;
	position: absolute;
	bottom: 40%;
	left: 40%;
	right: 40%;
	top: 40%;
}

.btn:hover {
	background: #3cb0fd;
	text-decoration: none;
}

.current-events {
	background-color: rgb(160, 187, 157);
	padding: 20px 20px;
	text-align: center;
	margin: 10px 20px;
}

h2 {
	text-align: center;
	color: rgb(0, 0, 0);
}

.weather-card {
	background-color: #549665;
	padding: 20px 20px 20px 20px;
	text-align: center;
	margin: 10px 20px;
}

.spotlights {
	margin-right: 20px;
	margin-left: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	margin-bottom: 10px;
}

.spots {
	width: 100%;
	height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

#first-spotlight {
	background-color: rgb(143, 189, 158);
}

#second-spotlight {
	background-color: rgb(143, 189, 158);
}

#third-spotlight {
	background-color: rgb(143, 189, 158);
}

footer {
	text-align: center;
	background-color: #bed;
	padding-top: 10px;
	padding-bottom: 10px;
}



/* DARK MODE */
#mode {
	position: absolute;
	top: 8px;
	right: 2.5rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}



/* Discover CSS */

.discover_grid {
	display: grid;
	background-color: rgb(224, 216, 216);
}

.sidebar_grid {
	margin: 10px 10px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 200px;
	grid-gap: 10px;
}

.sidebar_grid div {
	padding: 10px 10px;
	align-items: center;
	text-align: center;
}

.demographics {
	grid-row: 1/2;
	background-color: white;
}

.statistics {
	grid-row: 2/3;
	background-color: white;
}

.events {
	grid-row: 3/4;
	background-color: white;
}

.attractions {
	grid-row: 4/5;
	background-color: white;
}

.accomodations {
	grid-row: 5/6;
	background-color: white;
}

.info {
	background-color: white;
}

.images_grid {
	background-color: rgb(224, 216, 216);
	text-align: center;
}

.images_grid div {
	margin: 10px 10px;
}





/*----------- FORM --------------*/



form fieldset {
	margin: 2rem 2rem;
	border: 1px solid #445ba9;
	border-radius: 10px;
	padding: .5rem 2%;
	max-width: 40rem;
}

form legend {
	color: #445ba9;
	margin: 0 1rem;
	padding: 0 .5rem;
}

form label.top,
form div {
	display: block;
	padding-top: 1rem;
	color: #9c2c13;
	font-size: .8rem;
}

form label.top input,
form label.top select {
	display: block;
	font-size: 1rem;
	border: solid 1px #999;
	border-radius: 4px;
	padding: .75rem;
	color: #555;
	width: 100%;
	max-width: 20rem;
	background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
	display: block;
	padding: .75rem 0;
	color: #555;
}

form input.submitBtn {
	border: none;
	background-color: #9c2c13;
	color: white;
	border-radius: 1rem;
	padding: .75rem 1.5rem;
	margin: 20px 0 2rem 2%;
	width: 96%;
	max-width: 20rem;
	display: block;
}

form label.top input:required {
	border-left: red solid 6px;
}

form label.top input:required:valid {
	border-left: green solid 6px;
}


#benefits {
	align-items: center;
	text-align: center;
	background-color: rgb(235, 235, 235);
	margin: 2rem 2rem;
	padding: 2rem 2rem;
}


.a {
	margin-top: 10px;
}

.b {
	list-style-type: none;
}

#ty {
	margin: 2rem 0 50rem 0;
}




/*----------- DIRECTORY --------------*/

#cards {
	align-items: center;
	align-content: center;
	text-align: center;
}

#cards img {
	height: 440px;
	width: 340px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.grid-view {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;
}

.list-view {
	display: flex;
	flex-direction: column;
}

#view-toggle {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

#grid-view, #list-view {
	padding: 10px 10px;
	border: 1px solid black;
}





#banner {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	color: white;
	padding: 10px;
	text-align: center;
}

.close-banner {
	cursor: pointer;
	color: #fff;
	position: absolute;
	top: 5px;
	right: 10px;
}
