@media (min-width: 1000px) {

  .spotlights {
    grid-column: 1/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr;
    gap: 10px;
  }

  .spotlight-heading {
    grid-row: 1/2;
    grid-column: 1/4;
  }

  .first-spotlight {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .second-spotlight {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .third-spotlight {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .spots {
    width: 100%;

  }







  /* Form */

  #join {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}              